.textColor {
  color: #9f513a;
}

.btn-color {
  background-color: #879738;
  color: white;
  &:hover {
    background-color: transparent;
    color: #9f513a;
    border: solid 1px #879738;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px; /* Optional: Consistent width */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add inner spacing */
}
